[Unit]
Description=Chronos sandbox Go target

[Container]
Image=golang:1.22
ContainerName=chronos-sandbox-go
AddCapability=SYS_PTRACE
SecurityLabelDisable=true
Annotation=run.oci.keep_original_groups=1

[Service]
Restart=no
