[Unit]
Description=Chronos sandbox Java target

[Container]
Image=eclipse-temurin:21-jdk
ContainerName=chronos-sandbox-java
AddCapability=SYS_PTRACE
SecurityLabelDisable=true
Annotation=run.oci.keep_original_groups=1

[Service]
Restart=no
