[Unit]
Description=Chronos sandbox network
After=chronos-sandbox-rust.service
After=chronos-sandbox-java.service
After=chronos-sandbox-go.service
After=chronos-sandbox-python.service
After=chronos-sandbox-nodejs.service

[Network]
NetworkName=chronos-sandbox-net
Driver=bridge
